.head {
    text-align: center;
    margin: 20px 0;
    background-color: royalblue;
  }
  
  .footer {
    text-align: center;
    margin: 20px 0;
    background-color: royalblue;
    color:white;
  }
.item{
  align-items: center;
}  

.head h1{
  background-color: royalblue;
  color:white;
}